<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en"
      ng-app="Application">
<head>
    <base href="/" th:href="@{/}"/>
    <title>مدير الملفات | {{pageTitle}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" th:href="@{~/ui/img/favicon/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/ui/app.css}"/>
</head>
<body loading="" ng-cloak="" focus-group="" focus-group-head="loop" focus-group-tail="loop">
<span us-spinner="{radius:30, width:8, length: 16}"></span>

<div ui-view=""></div>

<script type="text/javascript" th:src="@{~/ui/app.js}"></script>

<!--&lt;!&ndash; SockJS + STOMP + ngStomp  &ndash;&gt;-->
<!--<script type="text/javascript" th:src="@{~/ui/sockjs/sockjs.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/stomp-websocket/lib/stomp.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/ng-stomp/ng-stomp.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/kdate/kdate.module.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/kdate/kdate.filter.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/kdate/kdate.picker.js}"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/lrDragNDrop.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/contextMenu.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/lrStickyHeader.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/smart-table.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/stStickyHeader.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/angular-pageslide-directive.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/elastic.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/scrollglue.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/ng-upload/angular-file-upload.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/bootstrap-select/js/nya-bs-select.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/angular-css.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/angular-timer-all.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/full-screen/angular-fullscreen.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/animate-counter/angular-counter.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/angular-focusmanager.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/jcs-auto-validate.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/angular-toggle-switch.min.js}"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/chosen/angular-chosen.min.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/sortable.js}"></script>-->
<!--<script type="text/javascript" th:src="@{~/ui/js/FileSaver.js}"></script>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/packaged/jquery.noty.packaged.min.js"></script>-->
<!-- 1-config -->
<script type="text/javascript" th:src="@{~/ui/init/config/config.js}"></script>
<!-- 2-factory -->
<script type="text/javascript" th:src="@{~/ui/init/factory/branchFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/companyFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/departmentFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/employeeFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/fileFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/personFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/regionFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/roleFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/screenFactory.js}"></script>
<script type="text/javascript" th:src="@{~/ui/init/factory/teamFactory.js}"></script>
<!-- 3-service -->
<script type="text/javascript" th:src="@{~/ui/init/service/service.js}"></script>
<!-- 4-directive -->
<script type="text/javascript" th:src="@{~/ui/init/directive/directive.js}"></script>
<!-- 5-filter -->
<script type="text/javascript" th:src="@{~/ui/init/filter/filter.js}"></script>
<!-- 6-run -->
<script type="text/javascript" th:src="@{~/ui/init/run/run.js}"></script>
<!-- 7-partials -->
<script type="text/javascript" th:src="@{~/ui/partials/home/home.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/menu/menu.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/company/company.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/company/companyCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/employee/employee.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/employee/employeeCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/branch/branch.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/branch/branchCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/region/region.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/region/regionCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/department/department.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/department/departmentCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/team/team.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/team/teamCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/person/person.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/person/personCreateUpdate.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/report/person/personsIn.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/help/help.js}"></script>
<script type="text/javascript" th:src="@{~/ui/partials/profile/profile.js}"></script>

</body>
</html>






