<form dir="rtl" name="from" ng-submit="submit()" novalidate="novalidate" focus-group="">

    <div class="modal-header">
        <h3 class="modal-title text-center" id="modal-title">{{title}}</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="row">

            <div class="form-group text-right col-md-12" ng-show="form.$invalid && form.$submitted">
                <div class="alert alert-danger" role="alert">
                    <strong>فضلاً اكمل الحقول المطلوبة</strong>
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-info">
                    <div class="panel-heading">البيانات الأساسية</div>
                    <div class="panel-body">
                        <div class="row">

                            <div class="form-group text-right col-md-12">
                                <label for="name" class="control-label">الاسم </label>
                                <input id="name"
                                       type="text"
                                       required="required"
                                       disable-validation-message=""
                                       class="form-control text-right"
                                       focus-index="1"
                                       ng-model="operationType.name">
                            </div>

                            <div class="form-group text-right col-md-12">
                                <label for="address" class="control-label">الوصف </label>
                                <input id="address"
                                       type="text"
                                       class="form-control text-right"
                                       focus-index="2"
                                       ng-model="operationType.description">
                            </div>

                            <div class="form-group text-right col-md-12">
                                <label for="note" class="control-label">ملاحظات</label>
                                <textarea id="note"
                                          type="text"
                                          focus-index="3"
                                          msd-elastic="\n"
                                          class="form-control text-right"
                                          placeholder="ملاحظات"
                                          ng-model="operationType.note">
                                 </textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="modal-footer">

        <div class="form-group col-md-12" role="group">
            <button type="button"
                    focus-index="8"
                    ng-click="cancel()"
                    class="btn btn-danger pull-left">
                <span>خروج</span>
                <i class="fa fa-power-off  fa-lg"></i>
            </button>
            <button type="reset"
                    focus-index="7"
                    class="btn btn-info pull-left">
                <span>مسح الحقول</span>
                <i class="fa fa-recycle  fa-lg"></i>
            </button>
            <button ng-show="action=='update'"
                    type="submit"
                    focus-index="6"
                    class="btn btn-warning pull-right">
                <span>تعديل</span>
                <i class="fa fa-edit fa-lg"></i>
            </button>
            <button ng-show="action=='create'"
                    type="submit"
                    focus-index="5"
                    class="btn btn-success pull-right">
                <span>اضافة</span>
                <i class="fa fa-plus-square fa-lg"></i>
            </button>
        </div>

    </div>

</form>