<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <header class="mdl-layout__header">
        <div class="mdl-layout-icon">
            <a class="mdl-button mdl-js-button mdl-button--icon" ui-sref="menu">
                <i class="material-icons">{{MDLIcon}}</i>
            </a>
        </div>
        <div class="mdl-layout__header-row">
            <button id="menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
                <li class="mdl-menu__item">
                    <span>المساعدة</span>
                </li>
                <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">
                    <span>الملف الشخصي</span>
                </li>
                <li class="mdl-menu__item" ng-click="logout()">
                    <span>تسجيل الخروج</span>
                </li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout__title">{{pageTitle}}</span>
        </div>
        <div class="mdl-layout__header-row" style="height: auto!important;padding: 0px !important;">
            <div class="panel panel-body" style="width: 100%; margin-bottom: 0px !important;">

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 full-width-menu pull-right">
                    <button id="view-menu-lower-right" style="width: 100%;"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span>عرض</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="view-menu-lower-right">
                        <li class="mdl-menu__item" ng-click="openFetchByBranch()">
                            <span>عرض صادر الفروع</span>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 full-width-menu pull-right">
                    <button id="operation-menu-lower-right" style="width: 100%;" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
                        <span>العمليات</span>
                    </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
                        for="operation-menu-lower-right">
                        <li class="mdl-menu__item" ng-click="reload()">
                            <span>تحديث</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="openCreateFromBranchModel()"
                            ng-if="contains(authorities, ['ROLE_OPERATION_CREATE'])">
                            <span>انشاء صادر من فرع</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="openUpdateModel()"
                            ng-if="contains(authorities, ['ROLE_OPERATION_UPDATE'])"
                            ng-hide="!operations || operations.length==0">
                            <span>تعديل</span>
                        </li>
                        <li class="mdl-menu__item" ng-click="remove()"
                            ng-if="contains(authorities, ['ROLE_OPERATION_DELETE'])"
                            ng-hide="!operations || operations.length==0">
                            <span>حذف</span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <main class="mdl-layout__content">

        <div dir="rtl" style="margin-top: 10px">

            <div class="col-md-12">
                <div class="panel panel-body">
                    <div class="table-responsive">
                        <table st-table="collection" st-safe-src="operations" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                            <tr>

                                <th class="text-center">
                                    <span>م</span>
                                </th>

                                <th st-sort="obj1" class="text-right">
                                    <span> رقم المعاملة</span>
                                </th>

                                <th st-sort="obj8" class="text-right">
                                    <span> نوع المعاملة</span>
                                </th>

                                <th st-sort="obj2" class="text-right">
                                    <span> عنوان المعاملة</span>
                                </th>

                                <th st-sort="obj3" class="text-right">
                                    <span>جهة الارسال</span>
                                </th>

                                <th st-sort="obj4" class="text-right">
                                    <span>جهة الاستلام</span>
                                </th>

                                <th st-sort="obj5" class="text-right">
                                    <span>التاريخ</span>
                                </th>

                                <th st-sort="obj6" class="text-right">
                                    <span>الحالة</span>
                                </th>

                                <th st-sort="obj7" class="text-right">
                                    <span>مدخل المعاملة</span>
                                </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr class="text-right"
                                ng-repeat="operation in collection"
                                st-select-mode="single"
                                context-menu="rowMenu"
                                ng-click="setSelected(operation)"
                                ng-right-click="setSelected(operation)"
                                ng-class="{'mdl-color--light-blue-100':operation.isSelected}">
                                <td st-select-row-custom="operation">{{$index+1}}</td>
                                <td st-select-row-custom="operation">{{operation.obj1}}</td>
                                <td st-select-row-custom="operation">{{operation.obj8}}</td>
                                <td st-select-row-custom="operation">{{operation.obj2}}</td>
                                <td st-select-row-custom="operation">{{operation.obj3}}</td>
                                <td st-select-row-custom="operation">{{operation.obj4}}</td>
                                <td st-select-row-custom="operation">
                                    {{operation.obj5 | kdate: 'yyyy-mm-dd' : 'ar' : 'ummalqura'}}
                                    <span class="label label-success">{{operation.obj5 | date:'h:m a'}}</span>
                                </td>
                                <td st-select-row-custom="operation">
                                    <span ng-class="operation.obj6 ? 'label label-danger' : 'label label-success'">{{operation.obj6 ? 'سري' : 'غير سري'}}</span>
                                </td>
                                <td st-select-row-custom="operation">{{operation.obj7}}</td>
                            </tr>
                            <tr class="blank_row" style="height: 10px !important; background-color: #FFFFFF;"
                                ng-show="!collection || collection.length ==0">
                                <td colspan="9">لا توجد بيانات</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </main>

</div>





















